* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-image: url("images/stars.jpg");
    background-size: 2000px 1100px;
    background-position: fixed;
}

.button-disable {
    pointer-events: none;
}

/* Header */

.page-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page-title h2 {
    font-size: 50px;
    padding: 30px 15px 0px;
}

/* Buttons */

.buttons {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 50px auto 100px;
}

.play,
.rules,
.reset {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 40px;
    border: none;
    border-radius: 40px;
    margin: 0px 10px;
}

.interface-buttons {
    display: flex;
    visibility: hidden;
}

.interface-buttons button {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    border: none;
    border-radius: 40px;
    margin: 20px 20px;
}

.play {
    background-color: green;
    transition: background-color 1s;
}

.rules {
    background-color: rgb(104, 102, 102);
    transition: background-color 1s;
}

.reset {
    background-color: rgb(117, 36, 36);
    transition: background-color 1s;
}

.play-again {
    background-color: green;
    transition: background-color 1s;
}

.quit {
    background-color: rgb(117, 36, 36);
    transition: background-color 1s;
}

/* Hover */

.play:hover {
    background-color: rgb(2, 175, 2);
    cursor: pointer;
}

.rules:hover {
    background-color: rgb(145, 143, 143);
    cursor: pointer;
}

.reset:hover {
    background-color: rgb(172, 55, 55);
    cursor: pointer;
}

.play-again:hover {
    background-color: rgb(2, 175, 2);
    cursor: pointer;
}

.quit:hover {
    background-color: rgb(172, 55, 55);
    cursor: pointer;
}

/* Modal */

.modal {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(104, 102, 102);
    width: 65vw;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    visibility: hidden;
    z-index: 2;
}

.modal-close {
    color: #fff;
    background-color: rgb(104, 102, 102);
    display: block;
    float: right;
    padding: 10px;
    margin: 15px 25px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.modal-close:hover {
    cursor: pointer;
}

.modal-text {
    font-size: 18px;
    padding: 0px 10px;
}

.modal h2 {
    text-align: center;
    padding: 15px 0px 0px 25px;
}

.modal p {
    padding: 20px 0px;
}

/* Interface */

.interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 20px;
    width: 80vw;
    max-width: 1000px;
    height: 58vh;
    margin: 0 auto;
    visibility: hidden;
}

.choices {
    display: flex;
}

.rock,
.paper,
.scissors {
    margin: 0px 30px;
    padding: 10px;
    text-align: center;
    transition: box-shadow 1s;
    border-radius: 10px;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  cursor: pointer;
  /* Tip: Other elements will stay in place on hover if box-shadow is used in place of border-radius */
  box-shadow: 0 0 0 3px green;
}

.rock img,
.paper img,
.scissors img {
    height: 100px;
    width: 100px;
}

.scores,
.game-scores {
    display: flex;
}

.player,
.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px 0px;
}

.player-score,
.computer-score {
    padding: 10px 10px;
    font-size: 30px;
    font-weight: 700;
}

.player-score {
    color: green;
}

.computer-score {
    color: rgb(211, 40, 40);
}

.win-streak {
    margin: 0px 30px;
}


/* Media Queries */

@media (max-width: 645px) {

    .page-title h2 {
        font-size: 30px;
        padding: 30px 10px 0px;
    }

    .buttons {
        flex-direction: column;
        margin: 30px auto 50px;
    }

    .interface-text {
        font-size: 18px;
    }

    .play,
    .rules,
    .reset {
        margin: 10px auto;
    }

    .modal-close {
        padding: 5px;
    }

    .modal-text h2 {
        font-size: 18px;
    }

    .modal-text p{
        font-size: 14px;
    }

    .rock,
    .paper,
    .scissors {
        margin: 0px 15px;
        font-size: 14px;
    } 

    .rock img,
    .paper img,
    .scissors img {
        height: 60px;
        width: 60px;
    }

    .win-streak {
        font-size: 16px;
    }

}

@media (max-width: 520px) {
    .page-title h2 {
        font-size: 20px;
        padding: 30px 10px 0px;
    }

    .play,
    .rules,
    .reset {
        font-size: 16px;
    }

    .rock,
    .paper,
    .scissors {
        font-size: 12px;
        margin: 0px 5px;
    } 

    .rock img,
    .paper img,
    .scissors img {
        height: 45px;
        width: 45px;
    }

    .interface-buttons button {
        font-size: 12px;
    }

    .player h3,
    .computer h3 {
        font-size: 14px;
    }

    .win-streak {
        font-size: 14px;
    }
}